.App {
  text-align: center;

}

.but {
 background: linear-gradient(135deg, rgb(20, 129, 255), rgba(62, 57, 93, 0.7)); /* Градиент, близкий к фону секции */
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    transition: background-color 0.3s ease, /* Плавный переход цвета фона */
                box-shadow 0.3s ease, /* Плавный переход тени */
                transform 0.2s ease; /* Плавный переход трансформации */
    font-size: 14px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3), /* Уменьшенная тень */
                inset 0 1px 3px rgba(255,255,255,0.1); /* Уменьшенный блик */
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .your {
  background-color: #282c34;
  position: 'absolute';
  top: 10;
   left: 10;
    padding: '10px';
      border: '1px solid #ccc';
    border-radius: '5px';
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
