.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
   box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  background-color: rgba(39, 12, 213, 0.322);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4),
        inset 0 2px 4px rgba(255,255,255,0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
   box-sizing: border-box;
                      text-align: center;

}