/* client/src/components/HomePage.css */
.home-page {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
}

.home-page h1 {
  margin-bottom: 20px;
  color: #222;
}

@media (min-width: 320px) {
    
    .top-section-ad {
        padding: 0px;
    }
    .top-button-ad {
            padding: 0px;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;

    }
    .top-buttons-ad button {
                
        width: 100%;
            padding: 0px;
            margin: 0;
            
            text-align: center;
            font-size: 12px;
            border-radius: 5px;
                    min-height: 40px;

            word-wrap: break-word;
    } 



    .top-section-ad {
        text-align: center;
    }
    .top-button-ad {
                    word-wrap: break-word;
        width: 200px;

        font-size: 12px;
        min-height: 60px;
        border-radius: 5px;

    }
}

@media (min-width: 375px) {
    

    .top-button-ad {
        width: 140px;
        margin-bottom: 10px;
    }

}

.top-section-ad {
    display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  background-color: rgba(39, 12, 213, 0.322);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4),
        inset 0 2px 4px rgba(255,255,255,0.1);
  border: 1px solid rgba(255, 255, 255, 0.1); /* Добавляем тонкую рамку для разделения */
}

.top-section-ad:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.5), /* Усиливаем тень при наведении */
                inset 0 3px 6px rgba(255,255,255,0.2); /* Усиливаем блик при наведении */
}

.top-button-ad {
   background: linear-gradient(135deg, rgb(20, 129, 255), rgba(62, 57, 93, 0.7));
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.2s ease;
  font-size: 16px;
  width: 80%;
  padding: 12px 24px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3),
        inset 0 1px 3px rgba(255,255,255,0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
    .top-button-ad:last-child {
  margin-bottom: 0;
}
.menu-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.menu-column {
  display: flex;
  flex-direction: column;
}

.menu-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  min-width: 150px; /* Set a minimum width for buttons */
}

.menu-button:hover {
  background-color: #555;
}

.logout-button {
    padding: 10px 20px;
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.logout-button:hover {
    background-color: #999;
}
